.app {
  color: #262626;
  background-color: #f1f1f1;
  padding: 20px 104px;
  margin: 0;
  /* position: relative; */
  overflow: hidden;
}

.appDark {
  color: #e4dede;
  background-color: #262626;
  padding: 20px 104px;
  /* position: relative; */
  margin: 0;
  overflow: hidden;
}
.backdrop {
  position: absolute;
  top: 50px;
  right: 0;
}

.switch {
  position: fixed;
  /* display: inline-block; */
  /* font-size: 8px;
  font-weight: 700; */
  z-index: 2;

  /* background-color: #f1f1f1;
  border-radius: 9999px;
  /* max-width: 60px;
  max-height: 50px; */
  /* border: 1px solid #47d16c;
  padding: 8px; */
  /* text-align: center; */
  /* top: 25px;
  left: 50%; */
  /* transform: translateX(-50%); */
  /* color: #262626; */
  animation: mymove 50s infinite;
}
@keyframes mymove {
  0% {
    top: 5%;
    left: 50%;
  }
  25% {
    top: 50%;
    left: 5%;
  }
  50% {
    top: 90%;
    left: 50%;
  }
  75% {
    top: 50%;
    left: 90%;
  }
  100% {
    top: 5%;
    left: 50%;
  }
}

@media (max-width: 900px) {
  .app {
    padding: 20px 50px;
  }
  .appDark {
    padding: 20px 50px;
  }
}
@media (max-width: 600px) {
  .app {
    padding: 10px 20px;
  }
  .appDark {
    padding: 10px 20px;
  }
}
